In [1]:
import pandas as pd

In [2]:
# SUPPLY TABLES FILEPATHS
table_A_path = '../data/0_key.csv'
table_B_path = '../data/0_sku.csv'
table_C_path = '../data/1_dist.csv'

In [7]:
def read_and_clean_csv(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Drop rows with NaN values
    df_cleaned = df.dropna(how='all')
    
    return df_cleaned

In [8]:
# Read and clean the CSV files
table_A_df = read_and_clean_csv(table_A_path)
table_B_df = read_and_clean_csv(table_B_path)
table_C_df = read_and_clean_csv(table_C_path)

In [9]:
distributors = table_C_df

In [11]:
INV_catalog = table_B_df

----

In [22]:
distributors.head(5)

,CUST_ID,schema_id,CUST__NAME,supply_desc,Sector_ID,SKU_volume,Address Type,CUST_ADDRESS,longitude,latitude
0,2001000,S02,Banyan Foods,food packaging,NaN,NaN,point_of_sale,"10940 Wilcrest Dr, Houston, TX 77099",-95.568779,29.664062
1,2001001,S02,Houston Calco,food manufacturing,NaN,NaN,warehouse,"2400 Dallas St, Houston, TX 77003",-95.354057,29.748090
2,2001002,S02,Tan Tan Tofu,food manufacturing,NaN,NaN,point_of_sale,"6791 Wilcrest Dr. Houston, TX 77072",-95.571122,29.704095
3,2001003,S02,Thanh Son Tofu,food manufacturing,NaN,NaN,registered_address,"13574 SAN MARTIN LN HOUSTON, TX 77083",-95.623345,29.695825
4,2001004,S02,Viet Tien Tofu & Fast Food,food manufacturing,NaN,NaN,point_of_sale,"11210 Bellaire Blvd. Ste 132. Houston, TX 77072",-95.576026,29.704697

In [14]:
INV_catalog.head(2)

,SKU_ID,schema_id,sku_name,avg_price,supply_desc,distribution,production
0,1001000.0,B01,chuck,4.63,food packaging,wholesale,processed
1,1001001.0,B01,brisket,5.11,food packaging,wholesale,processed

In [25]:
INV_dist_df = pd.merge(distributors[['CUST_ID','CUST__NAME','schema_id','Address Type']], INV_catalog[['SKU_ID','schema_id','sku_name']], on='schema_id')

In [26]:
INV_dist_df.to_csv('../data/1_inv.csv',index=False)

---